<p id="notice"><%= notice %></p>
<%= image_tag @journey.main_url(:thumb) if @journey.main? %>

<p>
  <strong>Name:</strong>
  <%= @journey.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @journey.description %>
</p>
<p>
  <strong>Location:</strong>
  <%= @journey.address %><br>
  <%= @journey.latitude %><br>
  <%= @journey.longitude %>

</p>
<p>
  <strong>Rating:</strong>
  <%= @journey.rating %>
</p>
<p>
  <strong>Clues:</strong>
  <button type="button">Show Clue</button>

<ol>
  <% for clue in @journey.clues %>
      <li><%= clue.step %>
      <%= image_tag clue.clueimage_url(:thumb) if clue.clueimage? %>
       </li>

      <% end %>

  </ol>
<div class="center">
      <%= link_to "Let's Go!", new_journey_claim_path(@journey), class: "btn btn-primary" %>
    </div>


<h3>Other Nearby Journeys</h3>
<ul>
<% for journey in @journey.nearbys(10) %>
  <li><%= link_to journey.name, journey %> (<%= journey.distance.round(2) %> miles)</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_journey_path(@journey) %> |
<%= link_to 'Back', journeys_path %>
<script>
$('ol > li').hide();
$('button').click(function() {
    $('ol > li:hidden:first').show();
});
</script>
